*,
*::before,
*::after {
  box-sizing: border-box;
}

.App {
  max-width: 100%;
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-columns: 1fr;
  width: 100vw;
  height: 100vh;
}

.header {
  display: flex;
  background-color: #bfd3c1;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
}

.main-grid {
  display: grid;
  grid-template-rows: 80px 1fr;
  grid-template-columns: 1fr;
}
.filter-section {
  display: inline-flex;
  flex-direction: row;
  background-color: #68a691;
  justify-content: space-between;
  align-items: center;
  overflow-x: auto;
  white-space: nowrap;
  width: 100vw;
  position: sticky;
  top: 50px;
  z-index: 1;
  box-shadow: 0px 3px 5px 0px rgba(87, 87, 87, 1);
}

.filter-element {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border: 1px solid black;
  padding: 5px;
  overflow: scroll;
  flex: 0 0 100px;
  margin: 10px;
  background-color: #e8ffea;
}

.list-section {
  background-color: #aebfb0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.list-element {
  display: flex;
  background-color: #4e8053;
  height: 150px;
  justify-content: center;
  align-items: center;
  margin: 15px;
  box-shadow: 2px 1px 1px 0px rgba(90, 90, 90, 0.75);
  min-width: 400px;
}

.image-left {
  display: flex;
  align-content: flex-start;
  width: 100%;
  height: 100%;
  background: url(https://d2exd72xrrp1s7.cloudfront.net/www/smart_tours/525921-big@2x/1681c9dcd2e?width=1000&height=700&crop=true&q=40)
    no-repeat center center;
  background-size: cover;
}

.img {
  max-width: 100%;
  max-height: 100%;
}

.track-info {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  margin-left: 5px;
  flex-wrap: wrap;
}

.show-icons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.material-icons {
  width: 20%;
}

.h1 {
  font-family: "Dancing Script", cursive;
}
